:root
{
    --page-width-wide: 1600px;
    --page-width-narrow: 1280px;
    --nav-padding: 20px;
    --nav-dropdown-item-padding: 10px;
    --main-margin: 50px;
}

#app
{
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content auto;
    grid-template-areas: "nav-area" "scroll-area";
    overflow: auto;

    .sticky-nav
    {
        grid-area: nav-area;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .scrollable-area
    {
        grid-area: scroll-area;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;
        grid-template-areas: "main-area" "footer-area";

        :global(main)
        {
            grid-area: main-area;
            margin-top: var(--main-margin);
            margin-bottom: var(--main-margin);
        }

        :global(footer)
        {
            grid-area: footer-area;
        }
    }
}

:global(.themed)
{
    background-color: var(--col-main-background);
    color: var(--col-main-primary);

    :global(*)
    {
        transition-property: color, background-color, border-color;
        transition-duration: 0.25s;
        transition-timing-function: ease;
    }

    :global(body)
    {
        margin: 0;
        padding: 0;
    }
    
    :global(a)
    {
        color: var(--col-main-link);
    }

    :global(.limited-width-container)
    {
        display: grid;
        grid-template-columns: 1fr minmax(0, var(--page-width-wide)) 1fr;
        grid-template-rows: auto;
        grid-template-areas: ". content .";

        :global(.limited-width-content)
        {
            grid-area: content;
        }

        :global(.narrow-content)
        {
            margin: auto;
            width: var(--page-width-narrow);
        }
    }
}

:global(.no-break)
{
    white-space: nowrap;
}