@use "_resets";

.doc-nav
{
    nav
    {
        ul, ol
        {
            @include resets.list;

            font-size: larger;
            line-height: calc(1em + 2 * var(--doc-nav-padding));

            li
            {
                :global(a)
                {
                    @include resets.anchor;

                    padding: var(--doc-nav-padding) 0;

                    &:hover
                    {
                        text-decoration: underline;
                    }
                }

                &.active-docpage
                {
                    font-weight: bold;
                }
            }
        }

        .doc-nav-collection + .doc-nav-collection
        {
            margin-top: var(--nav-padding);
        }
    }
}