.doc-header
{
    scroll-margin-top: var(--doc-nav-margin-top);

    &.doc-header-main
    {
        font-size: 50px;
    }
}

h2.doc-header
{
    --size: 32px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--col-main-secondary);
}

h3.doc-header
{
    --size: 24px;
}

h4.doc-header
{
    --size: 20px;
}

h5.doc-header
{
    --size: 16px;
}

h6.doc-header
{
    --size: 14px;
}

:is(h2, h3, h4, h5, h6).doc-header
{
    font-size: var(--size);
    margin-top: calc(1.5 * var(--size));
    margin-bottom: 0;
}