:root
{
    --font-main: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font-mono: Consolas, monospace;
}

:global(*)
{
    font-family: var(--font-main);
}

:global(h1, h2, h3, h4, h5, h6)
{
    font-family: var(--font-mono);
    text-transform: lowercase;
}

:global(pre > code)
{
    font-family: var(--font-mono);

    :global(*)
    {
        font-family: inherit;
    }
}