.home-page
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fit, minmax(100px, max-content));
    gap: var(--main-margin);
    
    .cover
    {
        margin-top: var(--main-margin);
        margin-bottom: var(--main-margin);
        
        h1
        {
            font-size: 72px;
        }

        p
        {
            font-size: 30px;
        }
    }

    .highlights
    {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fit, minmax(100px, max-content));
        gap: 50px;

        .highlight
        {
            h2
            {
                font-size: 36px;
            }

            p
            {
                font-size: 24px;
            }

            :global(a)
            {
                color: inherit;
            }
        }
    }
}