figure
{
    margin: auto;
    padding: 10px;
    text-align: center;
    
    img
    {
        max-width: 100%;
    }

    figcaption
    {
        font-style: italic;
        font-size: small;
    }
}