@use "_resets";

.nav-dropdown
{
    position: relative;
    color: var(--col-nav-text);
    background-color: var(--col-nav-background);

    button
    {
        @include resets.button;

        padding: var(--nav-padding);
        color: inherit;

        &.has-icon
        {
            display: grid;
            grid-template-columns: 20px auto;
            gap: 5px;
        }
    
        &:hover
        {
            cursor: pointer;
        }
    }
    
    ul
    {
        @include resets.list;
    
        display: none;
        position: absolute;
        background-color: inherit;

        &.align-right
        {
            right: 0;
        }

        &.align-left
        {
            left: 0;
        }
    
        li
        {
            display: grid;
            grid-template-columns: auto max-content;
            gap: 20px;
            margin: 0;
            padding: var(--nav-dropdown-item-padding);
            border: 1px solid var(--col-nav-border);

            :global(a)
            {
                padding: var(--nav-dropdown-item-padding);
            }
        }
    
        &.is-open
        {
            display: block;
        }
    }

    &.expand-on-hover:hover ul
    {
        display:block
    }
}