@use "_resets";

.nav-bar {
    color: var(--col-nav-text);
    background-color: var(--col-nav-background);
    border-bottom: 1px solid var(--col-nav-border);
}

.nav-menu {
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: auto;
    grid-template-areas: "home items settings";
    align-items: center;
    justify-items: start;

    li {
        color: var(--col-nav-text);
    }

    :global(a) {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: var(--nav-padding);
    }

    :global(.nav-hoverable:hover) {
        background-color: var(--col-nav-highlight);
    }
}

.nav-items {
    grid-area: items;
    justify-self: center;

    ul {
        @include resets.list;

        li {
            display: inline-block;
        }
    }
}