nav {
    background-color: var(--col-navbar);
    outline: 1px solid var(--col-navbar-border);
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: auto;
    grid-template-areas: "links settings";
    align-items: center;
    justify-items: left;
}

.nav-links {
    grid-area: "links";

    ul {
        list-style: none;
        margin: 0;

        li {
            display: inline-block;
            
            :hover {
                background-color: var(--col-navbar-highlight);
            }
        }
    }

    a {
        display: block;
        color: var(--col-navbar-text);
        padding: 10px;
    }
}

.nav-options-dropdown {
    grid-area: "settings";
    position: relative;

    input[type=checkbox] {
        display: none;
    }

    label {
        display: block;
        padding: 10px;
    }

    label:hover {
        background-color: var(--col-navbar-highlight);
        cursor: pointer;
    }

    ul.nav-options-list {
        display: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
        background-color: var(--col-navbar);

        li {
            padding: 10px;
        }
        
        .nav-dropdown-item {
            width: 100%;
            display: grid;
            grid-template-columns: auto max-content;
            grid-template-rows: auto;
            grid-template-areas: "label select";
            gap: 20px;
            margin: 0;

            label {
                grid-area: "label";
            }

            select {
                grid-area: "select";
                justify-self: end;
            }
        }
    }

    input[type=checkbox]:checked ~ ul.nav-options-list {
        display: block;
    }
}

a {
    text-decoration: none;
    color: var(--col-text);
}