@use "resets";

.navbar {
    color: var(--col-navbar-text);
    background-color: var(--col-navbar);
    border: 1px solid var(--col-navbar-border);
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: auto;
    grid-template-areas: "links settings";
    align-items: center;
    justify-items: left;

    li {
        color: var(--col-navbar-text);
    }

    .nav-hoverable:hover {
        background-color: var(--col-navbar-highlight);
    }
}

.nav-links {
    grid-area: "links";

    ul {
        @include resets.list;

        li {
            display: inline-block;
        }
    }

    a {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 10px;
    }
}