@use "sass:color";
@use "_helpers" as *;

$themes:
(
    light:
    (
        main:
        (
            "background": white,
            "primary": black,
            "secondary": rgb(63, 63, 63),
            "link": rgb(0, 0, 238)
        ),
        nav:
        (
            "background": blue,
            "primary": white,
            "secondary": rgb(196, 196, 196),
            "border": none
        ),
        footer:
        (
            "primary": white,
            "secondary": rgb(196, 196, 196),
            "border": none
        ),
        code:
        (
            "main": rgb(31, 31, 31),
            "background": rgb(241, 241, 241),
            "comment": rgb(66, 107, 74),
            "keyword": #c500b5,
            "function": rgb(0, 139, 7),
            "class": #009e7e,
            "type": #63007c,
            "literal": #63007c,
            "variable": #001bb6,
            "variable_language": #63007c,
            "variable_constant": #63007c,
            "string": #ff0000,
            "number": #007175,
            "regex": #646695,
            "escape": #ff5e00,
            "tag": #63007c,
            "header": #000080,
            "preprocessor": #63007c,
            "prompt": #2b2b2b,
            "builtin": rgb(0, 60, 255),
            "css": #b67c00,
            "addition": #9bff97,
            "deletion": rgb(255, 152, 152)
        )
    ),
    dark:
    (
        main:
        (
            "background": rgb(49, 51, 56),
            "primary": white,
            "secondary": rgb(196, 196, 196),
            "link": rgb(0, 168, 252)
        ),
        nav:
        (
            "background": darkblue,
            "primary": white,
            "secondary": rgb(196, 196, 196),
            "border": none
        ),
        footer:
        (
            "primary": white,
            "secondary": rgb(196, 196, 196),
            "border": none
        ),
        code:
        (
            "main": #DCDCDC,
            "background": #1E1E1E,
            "comment": #6A9955,
            "keyword": #C586C0,
            "function": #DCDCAA,
            "class": #4EC9B0,
            "type": #569CD6,
            "literal": #569CD6,
            "variable": #9CDCFE,
            "variable_language": #569CD6,
            "variable_constant": #569CD6,
            "string": #CE9178,
            "number": #B5CEA8,
            "regex": #646695,
            "escape": #D7BA7D,
            "tag": #569CD6,
            "header": #000080,
            "preprocessor": #569CD6,
            "prompt": #cccccc,
            "builtin": #4FC1FF,
            "css": #D7BA7D,
            "addition": #144212,
            "deletion": #600
        )
    ),
    oled:
    (
        main:
        (
            "background": black,
            "primary": white,
            "secondary": rgb(196, 196, 196),
            "link": rgb(0, 168, 252)
        ),
        nav:
        (
            "background": black,
            "primary": white,
            "secondary": rgb(196, 196, 196),
            "border": white
        ),
        footer:
        (
            "primary": white,
            "secondary": rgb(196, 196, 196),
            "border": white
        ),
        code:
        (
            "main": #DCDCDC,
            "background": black,
            "comment": #6A9955,
            "keyword": #C586C0,
            "function": #DCDCAA,
            "class": #4EC9B0,
            "type": #569CD6,
            "literal": #569CD6,
            "variable": #9CDCFE,
            "variable_language": #569CD6,
            "variable_constant": #569CD6,
            "string": #CE9178,
            "number": #B5CEA8,
            "regex": #646695,
            "escape": #D7BA7D,
            "tag": #569CD6,
            "header": #000080,
            "preprocessor": #569CD6,
            "prompt": #cccccc,
            "builtin": #4FC1FF,
            "css": #D7BA7D,
            "addition": #144212,
            "deletion": #600
        )
    )
);

@each $key, $value in $themes
{
    $themes: map-deep-set($themes, "#{$key}" "nav" "highlight", color.scale(map-deep-get($value, "nav", "background"), $lightness: 40%));
    $themes: map-deep-set($themes, "#{$key}" "footer" "background", color.scale(map-deep-get($value, "main", "background"), $lightness: -70%));
}

@mixin create-theme($name, $theme)
{
    $scopes: map-deep-get($themes, "#{$theme}");

    @each $scope_name, $props in $scopes
    {
        $scope: map-deep-get($themes, "#{$theme}", "#{$scope_name}");

        @each $prop, $value in $scope
        {
            :global(.themed.#{$name})
            {
                --col-#{$scope_name}-#{$prop}: #{$value};
            }
        }
    }
}

@mixin create-static-theme($theme)
{
    @include create-theme($theme, $theme);
}

@mixin create-system-theme($theme)
{
    @media (prefers-color-scheme: #{$theme})
    {
        @include create-theme("system", $theme);
    }
}

@each $key, $value in $themes
{
    @include create-static-theme($key);
    @include create-system-theme($key);
}