@use "sass:color";
@use "_helpers" as *;

$themes:
(
    light:
    (
        main:
        (
            "background": white,
            "text": black,
            "link": rgb(0, 0, 238)
        ),
        nav:
        (
            "background": blue,
            "text": white,
            "border": none
        )
    ),
    dark:
    (
        main:
        (
            "background": rgb(49, 51, 56),
            "text": white,
            "link": rgb(0, 168, 252)
        ),
        nav:
        (
            "background": darkblue,
            "text": white,
            "border": none
        )
    ),
    oled:
    (
        main:
        (
            "background": black,
            "text": white,
            "link": rgb(0, 168, 252)
        ),
        nav:
        (
            "background": black,
            "text": white,
            "border": white
        )
    )
);

@each $key, $value in $themes
{
    $themes: map-deep-set($themes, "#{$key}" "nav" "highlight", color.scale(map-deep-get($value, "nav", "background"), $lightness: 40%));
}

@mixin create-theme($name, $theme)
{
    :global(.themed.#{$name})
    {
        --col-main-background: #{map-deep-get($themes, "#{$theme}", "main", "background")};
        --col-main-text: #{map-deep-get($themes, "#{$theme}", "main", "text")};
        --col-main-link: #{map-deep-get($themes, "#{$theme}", "main", "link")};
        
        --col-nav-background: #{map-deep-get($themes, "#{$theme}", "nav", "background")};
        --col-nav-text: #{map-deep-get($themes, "#{$theme}", "nav", "text")};
        --col-nav-highlight: #{map-deep-get($themes, "#{$theme}", "nav", "highlight")};
        --col-nav-border: #{map-deep-get($themes, "#{$theme}", "nav", "border")};
    }
}

@mixin create-static-theme($theme)
{
    @include create-theme($theme, $theme);
}

@mixin create-system-theme($theme)
{
    @media (prefers-color-scheme: #{$theme})
    {
        @include create-theme("system", $theme);
    }
}

@each $key, $value in $themes
{
    @include create-static-theme($key);
    @include create-system-theme($key);
}